/* This is our table and canvas */
.center-container {
    width: 608px; /* This is the width of the container */
    margin: 0 auto; /*This will center the container */
    margin-top: 50px;
}

table {
    border-collapse: collapse; /*This property collapse table borders into 1*/
    border-style: hidden; /*This hides outer borders on table*/
}

td {
    cursor: pointer;
    border: 4px solid #FF1100;
    padding: 0px;
    width: 200px;
    height: 200px;
}

canvas {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

h1 {
    text-align: center;
}